site_name: Mike Medina Documentation
site_url: https://moabdib2000.github.io

theme:
  icon:
    previous: fontawesome/solid/angle-left
    next: fontawesome/solid/angle-right
  logo: assets/logo.png
  favicon: assets/favicon.ico
  name: material
  features:
    - navigation.footer
  
  extra:
    social:
      - icon: simple/linkedin
        link: https://www.linkedin.com/in/miguel-angel-medina-lozano/
  copyright: Copyright &copy; 2025 Miguel A. Medina
  
  
  palette:
    scheme: slate
    primary: green
    accent: deep purple

  font:
    text: Merriweather Sans
    code: Red Hat Mono

markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
